{% extends '../base.html' %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <h3 style="text-align: center">
            Manage your Family Account
        </h3>

        <ul class="list-group">
            <li class="list-group-item">
                <a href="/dashboard/edit">
                    Edit Profile
                </a>
            </li>
            <li class="list-group-item">
                <a href="/dashboard/menu">
                    Edit Menu
                </a>
            </li>
            <li class="list-group-item">
                <a href="/dashboard/orders">
                    View Orders
                </a>
            </li>
        </ul>
    </div>
</div>
<br />
<br />
{% endblock %}